{{ define "main" }}
  <div class="space-y-4">
    <div>
      <h1 class="mb-2 text-3xl font-bold">{{ i18n "latest_posts" }}</h1>
      <div class="space-y-4">
        {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
          <article>
            <h2
              class="font-bold before:mr-2 before:text-blue-500 before:content-['#']"
            >
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
            <span class="text-sm text-neutral-600 dark:text-neutral-400">
              {{ with .Params.date }}
                {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
                {{ $dateHuman := . | time.Format ":date_long" }}
                <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
              {{ end }}
              {{ with .Param "tags" }}
                {{ range $index, $tag := (. | sort) }}
                  {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
                    <a href="{{ .Permalink }}">#{{ $tag }}</a>
                  {{ end }}
                {{ end }}
              {{ end }}
            </span>

            <p>{{ .Params.Summary | markdownify }}</p>
          </article>
        {{ end }}
      </div>
    </div>
    <div>
      <h1 class="mb-2 text-3xl font-bold">{{ i18n "connect" }}</h1>
      {{ with .Site.Params.links }}
        <div class="flex flex-wrap gap-4">
          {{ range . }}
            <a
              class="group relative flex size-36 flex-col rounded-lg bg-neutral-200 p-3 text-black outline outline-neutral-300 dark:bg-neutral-800 dark:text-white dark:outline-neutral-600"
              href="{{ .url | safeURL }}"
              target="_blank"
              aria-label="{{ .username | title }}"
              rel="me noopener noreferrer"
            >
              <div class="font-bold">
                {{ .name }}
              </div>
              <div class="w-full text-sm break-words group-hover:underline">
                {{ .username }}
              </div>
              <!--  FIXME: Dark mode support -->
              <div
                class="absolute right-2 bottom-2 w-18 opacity-10 drop-shadow-black transition group-hover:opacity-20 group-hover:drop-shadow-2xl/100"
              >
                {{ $iconPath := printf "icons/%s" .icon }}
                {{ $icon := resources.Get $iconPath | resources.Minify }}
                {{ $icon.Content | safeHTML }}
              </div>
            </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
