@import "tailwindcss";
@source "hugo_stats.json";

@layer base {
  body {
    @apply font-mono
      mx-auto p-4 max-w-2xl
      bg-neutral-100 text-neutral-900
      dark:bg-neutral-900 dark:text-neutral-100
      selection:bg-neutral-900 selection:text-neutral-100
      dark:selection:bg-neutral-100 dark:selection:text-neutral-900;
  }

  header {
    @apply border-neutral-800 border-b pb-1 mb-2;
  }

  footer {
    @apply border-neutral-800 border-t pt-1 mt-2;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  a {
    @apply text-blue-500 underline;
  }

  table {
    @apply block overflow-x-auto md:table min-w-full divide-y divide-gray-200 dark:divide-neutral-700;
  }

  tbody {
    @apply divide-y divide-gray-200 dark:divide-neutral-700;
  }

  th {
    @apply px-2 py-1 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500;
  }

  td {
    @apply px-2 py-2 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200;
  }

  code,
  pre,
  blockquote {
    @apply bg-white dark:bg-black;
  }

  pre {
    @apply px-2 overflow-x-auto;
  }

  blockquote {
    @apply border-l-2 px-2;
  }

  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6,
  .article hr,
  .article p,
  .article table,
  .article ul {
    @apply mb-4;
  }
}
