## 关于 ID

对，这其实是我实名的全拼…… 最开始是九岁左右时候注册 163 邮箱时起的 ID，一直沿用到现在。

一直在考虑换名字，但又不知道用什么好，我真的是取名废。

<enhanced:img alt="163 邮箱" src="./163.png" />

## 一些游戏

<!-- 
  HACK: code inside ./+layout.svelte
        mdsvex broke svelte syntax... :(
-->