<a
  href="{{- .Params.blogURL }}"
  class="not-prose flex border rounded-lg overflow-hidden mb-2 no-underline border-neutral-300 bg-neutral-100 text-neutral-900 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-100"
>
  <img
    class="mr-4 w-16 h-16 object-cover"
    src="{{- .Params.friendImage }}"
    alt=""
  />
  <div class="flex flex-col justify-center">
    <span>
      {{- .Params.blogName }}
    </span>
    <span>
      {{- .Params.blogDescription }}
    </span>
  </div>
</a>
